@using BIManagement.Modules.Users.Api
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Http
@using System.ComponentModel.DataAnnotations

@inject IUserAccessor UserAccessor


<EditForm Model="Input" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" role="alert" />
    <div class="form-floating mb-3">
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="body">Select your database provider: </label>
            <div class="col-sm-10">
                <InputSelect class="form-control" @bind-Value="@Input.DatabaseType" DisplayName="Database provider selection">
                    @foreach (var country in Enum.GetValues(typeof(DatabaseType)))
                    {
                        <option value="@country">@country</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => Input.DatabaseType)" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="dataSource">Data Source:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="dataSource" @bind="@Input.DataSource" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="initialCatalog">Initial Catalog:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="initialCatalog" @bind="@Input.InitialCatalog" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="integratedSecurity">Integrated Security:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="integratedSecurity" @bind="@Input.IntegratedSecurity" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="connectTimeout">Connect Timeout:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="connectTimeout" @bind="@Input.ConnectTimeout" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="encrypt">Encrypt:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="encrypt" @bind="@Input.Encrypt" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="trustServerCertificate">Trust Server Certificate:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="trustServerCertificate" @bind="@Input.TrustServerCertificate" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="applicationIntent">Application Intent:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="applicationIntent" @bind="@Input.ApplicationIntent" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="multiSubnetFailover">Multi Subnet Failover:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="multiSubnetFailover" @bind="@Input.MultiSubnetFailover" />
            </div>
        </div>
    </div>

    <button type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
</EditForm>


@code {
    private string? userId;
    private string? username;
    private string? phoneNumber;


    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        userId = await UserAccessor.GetUserIdAsync(HttpContext) 
            ?? throw new InvalidOperationException("User ID is not available.");

        // Input.PhoneNumber ??= phoneNumber;
    }

    private async Task OnValidSubmitAsync()
    {
        // TODO: USE SQL CONNECTION STRING BUILDER
        // var builder = new Microsoft.Data.SqlClient.SqlConnectionStringBuilder();

        // In case of costumer redirect to mapper
    }

    public enum DatabaseType
    {
        SqlServer,
        MySql,
        PostgreSql,
        Oracle,
        Sqlite
    }

    private sealed class InputModel
    {
        [Display(Name = "Phone number")]
        public DatabaseType DatabaseType { get; set; } = DatabaseType.Sqlite;

        public string DataSource { get; set; } = "(localdb)\\MSSQLLocalDB";
        public string InitialCatalog { get; set; } = "SaaSPlatform";
        public bool IntegratedSecurity { get; set; } = true;
        public int ConnectTimeout { get; set; } = 30;
        public bool Encrypt { get; set; } = false;
        public bool TrustServerCertificate { get; set; } = false;
        public string ApplicationIntent { get; set; } = "ReadWrite";
        public bool MultiSubnetFailover { get; set; } = false;
    }
}
