@using BIManagement.Modules.Deployment.Domain
@using Microsoft.AspNetCore.Components.Routing
@attribute [Route(Routes.Deployments)]
@inject IMetabaseDeploymentRepository DeploymentRepository
<PageTitle>Deployments</PageTitle>

<h3>Deployments</h3>

@if (metabaseDeployments.Count == 0)
{
    <p>No deployments found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Deployment ID</th>
                <th>Customer ID</th>
                <th>URL Path</th>
                <th>Image</th>
                <th>Instance Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deployment in metabaseDeployments)
            {
                <tr>
                    <td>@deployment.Id</td>
                    <td>@deployment.CustomerId</td>
                    <td>@deployment.UrlPath</td>
                    <td>@deployment.Image</td>
                    <td>@deployment.InstanceName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IReadOnlyList<MetabaseDeployment> metabaseDeployments = new List<MetabaseDeployment>();

    protected override async Task OnInitializedAsync()
    {
        metabaseDeployments = await DeploymentRepository.GetAsync();
    }
}
